{% extends 'base.html' %} {% block content %} {% block css %}
<style>
    .event-success {
        background-color: red !important;
    }
</style>
{% endblock %}
<div class="ui">
    <div class="ui menu">
        <div class="header item">Your Brand</div>
        <a class="active item">Goes Here</a>
        <a class="item">Link</a>
    </div>

    <br />
    <div class="ui container">
        <div class="ui grid">
            <div class="ui sixteen column">
                <div id="calendar" style="height: 800px;"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block scripts %}
<script>
    $(document).ready(function () {
        var url = "/events";

        function formatDate(date) {
            var d = new Date(date),
                month = "" + (d.getMonth() + 1),
                day = "" + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = "0" + month;
            if (day.length < 2) day = "0" + day;

            return [year, month, day].join("-");
        }

        var request = $.ajax({
            url: url,
            type: "GET",
            data: null,
            dataType: "json",
            headers: {
                accept: "application/json",
                "Access-Control-Allow-Origin": "*",
            },
        });
        request.done(function (data) {
            var events = [];
            data.map(function (item) {
                item.start = formatDate(item.start);
                item.end = formatDate(item.end);
                item.classNames = item.css_class;
                item.borderColor = "none";
                return item;
            });
            console.log(data);
            showCalendar(data);
        });

        request.fail(function (err) {
            console.log(err);
        });
        //
        function showCalendar(events) {
            $("#calendar").fullCalendar({
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,basicWeek,basicDay",
                },
                defaultDate: Date.now(),
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: events,
            });
        }
    });
</script>
<div></div>
<div></div>
<div></div>
<div class="ui menu">
    <div class="header item">Bottom Brand</div>
    <a class="active item">Goes Here</a>
    <a class="item"> Bottom Link</a>
</div>

{% endblock scripts%}